$logo_color_1: #673304;
$logo_color_2: #FF9400;
$header_color: #F8F9FA;
$footer_color: #D8D8D8;
$logo_color_1_1: rgba(#a35f22, 0.8);


#logo {
  width: 30px;
}

#logo,
#navbarContent a {
  color: $logo_color_1;
}

header .nav-item:hover {
  background: $logo_color_2;
  border-radius: 5px;
}

.carousel-item {
  height: auto;
  max-height: 500px;
  min-height: 300px;
}

.post {
  background: $header_color;
  border-radius: 7px;

  a,
  h3,
  p {
    color: $logo_color_1;
  }

  a {
    border-radius: 10px;

    &:hover {
      background: $logo_color_2;
      border-radius: 10px;
    }
  }
}

.events-list {
  background: $header_color;
  border-radius: 5px;

  .event {
    background: $logo_color_2;
    color: $logo_color_1;
    border-radius: 7px;
  }
}

.footer-upper-space {
  height: 100px;
  background: $logo_color_1_1
}

.footer-logo {
  background: $logo_color_1_1;
  border-radius: 10px;

}

.contact-info {
  background: $logo_color_1;
  color: $logo_color_2;
}

.footer-bg {
  background: $logo_color_1
}

.footer-menu .nav-link ,.footer-about {
  color: $logo_color_2;

  &:hover {
    color: #DB7F00;
  }
}

.icon {
  font-size: 2rem
}
